# Build outputs
bin/
obj/
out/

# Node / NX / Angular
node_modules/
.nx/cache/
.angular/
dist/

# Environment files
.env
.env.*
!.env.example

# IDEs
.vs/
.idea/
.vscode/
!.vscode/extensions.json

# Test / coverage
TestResults/
coverage/

# VS artefacts
*.user
*.suo

.angular

__screenshots__/
